<a href="https://colab.research.google.com/github/chahahyeon/BP_10_Ch4/blob/main/BP_10_Ch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('나는'+ str(12)+ '개의 사과를 먹었다.')

나는12개의 사과를 먹었다.

In [4]:
print('apple' + 'grape')
print('apple' * 3)

applegrape
appleappleapple

In [13]:
s=(input("문자열을 입력하시오.:"))
print(s[0:2]+s[-2:])

문자열을 입력하시오.:python
pyon

In [12]:
s=(input("문자열을 입력하시오.:"))
print(s+"하는중")

문자열을 입력하시오.:청소
청소하는중

In [27]:
x=input("기호를 입력하시오.:")
y=input("중간에 삽입할 문자열을 입력하시오.:")
print(x[0]+y+x[1])

기호를 입력하시오.:[]
중간에 삽입할 문자열을 입력하시오.:python
[python]

In [29]:
x=[1,2,3,4]
print("리스트=",x)
print("리스트 숫자들의 합=", x[0]+x[1]+x[2]+x[3])

리스트= [1, 2, 3, 4]
리스트 숫자들의 합= 10